html {
	background: #555555 url('../images/pagebg.gif') top left repeat-x;
	text-align: center;
	margin: 0;
	padding: 0;
}

body {
	text-align: left;
	width: 960px;
	margin: 0 auto;
	padding: 0;
	font-size: 10px;
	font-family: Verdana, Arial, "Lucida Grande","Lucida Sans Unicode",geneva;
}

a {
	color: #286571;
}

#content {
    background-color: #eeeeee;
	margin : 0px 10px -20px 10px;
	padding: 0px 5px 20px 5px;
	overflow: auto;
}

.action {
	text-transform: uppercase;
	line-height: 20px;
}

div.help {
    background-color: #ffffff;
	font-size: 1.5em;
	font-family: "Times New Roman";
}

span.helplink {
	font-weight: bold;
	font-size: 1em;
	font-family: "Courier New";
}

div.separator {
    border-top: 1px dotted #000;
}

.pagination {
	padding: 0;
	margin: 0;
	padding-right: 0;
	color: green;
	position: relative;
	font-size: 12px;
}

.pagination_items {
	padding: 0;
	margin: 0;
	padding-left: 10px;
	color: #000;
	position: relative;
	font-size: 12px;
	float: left;
}

table.listing td.nodata, table.info td.nodata {
	text-align: center;
	font-style: italic;
}

table.listing tr:hover td {
    background-color:#f2f8aa;
}

table.listing tr.heading td, table.listing td.heading, table.info td.heading {
	font-size: 0.95em;
	font-weight: bold;
	padding: 0.75em 1.5em 1em 0.5em;
	background: #d3dce3;
}

table.listing a {
    text-decoration: none;
	color: blue;
}

.breadcrumb {
    text-decoration: none;
}

.captcha_image {
    border: 1px solid #000;
}

.odd {
    background: #E5E5E5;
}

.even {
    background: #D5D5D5;
}

.error_message {
	color: red;
}

.freq_table {
    border-spacing: 0;
    border-color: #000000;
    border-collapse:collapse;
}

.freq_table th {
    border-color: #000000;
    background-color: #d3dce3;
    padding: 5px;
	font-style: italic;
}

.freq_table td {
    background-color: #EEEEEE;
    border-color: #BBBBBB;
    padding: 5px;
}

.freq_table td:hover {
    background-color:#f2f8aa;
}

table.listing tr.collapsible {
    display: none;
}

.sidebar {
  border: 1px solid #cce;
  background-color: #eee;
  margin: 0.5em;
  margin-left: 1.5em;
  padding: 1em;
  float: right;
  width: 139px;
  font-size: 88%;
}

.sidebar h2 {
  margin-top: 0;
  color: black;
}

.sidebar ul {
  margin-left: 1.5em;
  padding-left: 0;
}

p.topmenu {
    display: none;
}

div.topmenu {
    display: none;
}

table.listing {
    width: 100%;
    table-layout:fixed;
    overflow:hidden;
    font-size: 1.2em;
    border: 1px solid #888;
}

#navbar {
    background-color: #eeeeee;
	margin: 0;
	padding: 0;
}

#rightbar {
    background-color: #eeeeee;
	margin: 0;
	padding: 0;
	float: right;
}

ul.rightmenu {
	margin: 0;
	padding: 0;
}

ul.rightmenu li {
	margin: 0;
	padding: 0;
	padding-right: 1.5em;
	display: inline;
}

ul.menu {
	margin: 0;
	padding: 0;
}

ul.menu li {
	margin: 0;
	padding: 0;
	padding-right: 1.5em;
	display: inline;
}

#return_div_id {
    display: none;
}

div.login {
    padding-top: 10px;
}

div.login table {
    width: 400px;
    font-size: 1.3em;
    border: 2px solid #aaaaaa;
    padding: 10px;
    border-spacing: 10px;
}

div.login table th {
    border: 1px solid #eeeeee;
}

div.login table td {
    border: 1px solid #eeeeee;
}

div.register {
    padding-top: 10px;
}

div.register table {
    font-size: 1.3em;
    width: 70%;
    padding: 0;
    border-spacing: 0;
}

div.register table th {
    border: 1px solid #eeeeee;
}

div.register table td {
    border: 1px solid #eeeeee;
}

#header {
	background: url('../images/header_bg.gif') top left repeat-x;
	height: 132px;
	position: relative;
	padding: 0;
	margin: 0 10px;
}

#header_left {
    background: url('../images/header_left.gif') top left no-repeat;
    position: relative;
    padding: 0 0px 0 10px;
}

#header_right {
    background: url('../images/header_right.gif') top right no-repeat;
}

#header h1 {
	padding: 0;
	margin: 0;
	padding-top: 30px;
	margin-left: 20%;
	color: #fff;
	position: relative;
	font-size: 400%;
}

#header h1 a {
    text-decoration: none;
	color: #ffffff;
}

#header h1 .subtitle {
	font-size: 40%;
	position: absolute;
	left: 50%;
	top: 80px;
}

.subtitle a {
    text-decoration: none;
	color: #80ffff;
}

#logo {
    float: right;
    margin-right: 30px;
    margin-top: -10px;
}

#footer_left {
    background: #ddd url('../images/footer_left.gif') bottom left no-repeat;
    position: relative;
    padding: 0 0px 0 10px;
}

#footer {
    background-color: #ddd;
	color:#888888;
	font-size:90%;
	position: relative;
	padding: 10px 0 0 0;
	margin: 0 10px;
	border-top: 1px solid #888888;
}

#footer_right {
    background: #ddd url('../images/footer_right.gif') bottom right no-repeat;
}

#footer a {
    padding: 0 10px;
}

#footer div.foottext {
    text-align: center;
}

div.warning {
    padding-left: 15%;
    text-align: left;
    width: 70%;
    margin: 0 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.error {
    color: red;
    }

.clicker {
    color: #286571;
    cursor: pointer;
    display: inline;
}

span.current {
    color: #fff;
    background-color: #286571;
    padding-left: 3px;
    padding-right: 3px;
}

#eula_id {
    font-weight: bold;
}

div.bloc {
    display: inline-block;
    vertical-align: top;
    overflow:hidden;
    background-color: #eeeeee;
}

div.bloc select {
    padding:10px;
    margin:-5px -20px -5px -5px;
    background-color: #eeeeee;
}

img {
    border: none;
}

input.prompt {
    border:1px solid transparent;
    background-color: #99ccff;
    width:70px;
    font-family: arial;
    font-size:12px;
    color:black;
} 

td.titlebar {
    background-color:#FF9F40;
    color:#0000D2;
    font-weight:bold;
    font-family:arial;
    font-size:12px;
} 

#screenwide {
    float: right;
}

#item_select_div_id {
    position:absolute;
    display: none;
}

#item_select_div_id table {
    background-color: white;
    border: 2px solid red;
}

#item_select_div_id th {
    background-color: red;
    height: 20px;
    color: white;
    font-size: 1.2em;
}

#item_select_div_id td {
    background-color: white;
}

.refresh {
    border:1px solid transparent;
    width:50px;
    font-family: arial;
    font-size:12px;
    color:blue;
    cursor: pointer;
    background-color: transparent;
} 

