{*
 * download.tpl
 *}
{include file='header.tpl'}
<div align="center">
<h2>Downlaod Trial</h2>
<table>
<tr>
    <td><b>Your trial is ready for download</b></td>
</tr>
<tr>
    <td><div id="download_div_id"><input type='button' value='Download' onclick="submit_form('download');"></div>
<div id="return_div_id">Your download will be started automatically.</div></td>
</tr>
<tr>
    <td>checksums (Please check your downlaod against these checksum):{$checksum_tt|tts:""}</td>
</tr>
<tr>
    <td>
        <ul>
            <li>SHA1: <b>{$sha1checksum}</b></li>
            <li>MD5: <b>{$md5checksum}</b></li>
        </ul>
    </td>
</tr>
<tr>
    <td><b><input type='button' value='Return' onclick='location.href="{$base_url}"' /></b></td>
</tr>
</table>
</div>
{include file='footer.tpl'}
<script type="text/javascript" language="javascript">
var rightbar = document.getElementById('rightbar');
rightbar.style.display = "none";
var navbar = document.getElementById('navbar');
navbar.style.display = "none";
</script>
